{% from "macros/fields.html" import render_input_field, render_password_field, render_checkbox_field, render_submit %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container d-flex kontejner">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Log In</h3>
        </div>
        <div class="card-body">
            <form method="POST" id='login-form'>
                {{ form.hidden_tag() }}
                {{ render_input_field(form.name, lc="col-sm-3", rc="col-sm-9") }}
                {{ render_input_field(form.surename, lc="col-sm-3", rc="col-sm-9") }}
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        {{ render_submit(cls="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
